../todo.md
build/
!server/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.app-server/core/product/venv
**/node_modules/**
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.DS_Store
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject//
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/order-service/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/order-service/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.5/checksums/checksums.lock
/.gradle/8.6/checksums/checksums.lock
/order-service/.gradle/8.6/checksums/checksums.lock
/.gradle/8.5/dependencies-accessors/dependencies-accessors.lock
/.gradle/8.5/executionHistory/executionHistory.bin
/.gradle/8.6/executionHistory/executionHistory.bin
/order-service/.gradle/8.6/executionHistory/executionHistory.bin
/.gradle/8.5/executionHistory/executionHistory.lock
/.gradle/8.6/executionHistory/executionHistory.lock
/order-service/.gradle/8.6/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/order-service/.gradle/file-system.probe
/.gradle/8.5/fileHashes/fileHashes.bin
/.gradle/8.6/fileHashes/fileHashes.bin
/order-service/.gradle/8.6/fileHashes/fileHashes.bin
/.gradle/8.5/fileHashes/fileHashes.lock
/.gradle/8.6/fileHashes/fileHashes.lock
/order-service/.gradle/8.6/fileHashes/fileHashes.lock
/.gradle/8.5/dependencies-accessors/gc.properties
/.gradle/8.5/gc.properties
/.gradle/8.6/dependencies-accessors/gc.properties
/.gradle/8.6/gc.properties
/.gradle/vcs-1/gc.properties
/order-service/.gradle/8.6/dependencies-accessors/gc.properties
/order-service/.gradle/8.6/gc.properties
/order-service/.gradle/vcs-1/gc.properties
/.gradle/8.5/fileChanges/last-build.bin
/.gradle/8.6/fileChanges/last-build.bin
/order-service/.gradle/8.6/fileChanges/last-build.bin
/.gradle/8.6/checksums/md5-checksums.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/order-service/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/8.5/fileHashes/resourceHashesCache.bin
/.gradle/8.6/fileHashes/resourceHashesCache.bin
/order-service/.gradle/8.6/fileHashes/resourceHashesCache.bin
/.gradle/8.6/checksums/sha1-checksums.bin
.venv
/app-ui/package-lock.json
/app-server/core/product/venv/
/app-server/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/app-server/.gradle/buildOutputCleanup/cache.properties
/app-server/.gradle/8.5/checksums/checksums.lock
/app-server/.gradle/8.5/dependencies-accessors/dependencies-accessors.lock
/app-server/.gradle/8.5/executionHistory/executionHistory.lock
/app-server/.gradle/8.5/fileHashes/fileHashes.lock
/app-server/.gradle/8.5/dependencies-accessors/gc.properties
/app-server/.gradle/8.5/gc.properties
/app-server/.gradle/vcs-1/gc.properties
/app-server/.gradle/8.5/fileChanges/last-build.bin
/app-server/.gradle/8.5/checksums/md5-checksums.bin
/app-server/.gradle/buildOutputCleanup/outputFiles.bin
/app-server/.gradle/8.5/checksums/sha1-checksums.bin
/.gradle/8.5/checksums/md5-checksums.bin
/.gradle/8.5/checksums/sha1-checksums.bin
